<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container" id="main-container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                <div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="tooltip" data-bs-placement="top" title="List"><i class="bx bx-list-ul"></i></a>
                        </li>
                        <li class="nav-item">
                            <a aria-current="page" href="#" class="router-link-active router-link-exact-active nav-link active" data-bs-toggle="tooltip" data-bs-placement="top" title="Grid"><i class="bx bx-grid-alt"></i></a>
                        </li>
                        <li>
                            <form class="form-inline my-2 mylg-0">
                                <input (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel type="search" name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees...">
                            </form>
                        </li>
                    </ul>
                </div>
                <div>
                    <button href="#" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"  class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add Employee</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let employee of employees" class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a class="text-muted dropdown-toggle font-size-16" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-horizontal-rounded"></i></a>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Edit</a><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Remove</a></div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div><img src="https://bootdey.com/img/Content/avatar/{{employee.imageUrl}}" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>
                        <div class="flex-1 ms-3">
                            <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">{{employee?.name}}</a></h5>
                            <span class="badge badge-soft-success mb-0">{{employee?.jobTitle}}</span>
                        </div>
                    </div>
                    <div class="mt-3 pt-1">
                        <p class="text-muted mb-0"><i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i> {{employee?.phone}}</p>
                        <p class="text-muted mb-0 mt-2"><i class="mdi mdi-email font-size-15 align-middle pe-2 text-primary"></i> {{employee?.email}}</p>
                    </div>
                    <div class="d-flex gap-2 pt-4">
                        <button (click)="onOpenModal('edit',employee)" data-bs-toggle="modal" type="button" class="btn btn-soft-primary btn-sm w-50"><i class="bx bx-wrench me-1"></i> Edit</button>
                        <button (click)="onOpenModal('delete',employee)" data-bs-toggle="modal" type="button" class="btn btn-primary btn-sm w-50"><i class="bx bx-trash me-1"></i> Delete</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade " data-backdrop="static" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModelLabel" aria-hidden="true">
        
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" ngModel name="name"
                        class="form-control" id="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="text" ngModel name="email"
                        class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" ngModel name="jobTitle"
                        class="form-control" id="jobTitle" placeholder="Job Title" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" ngModel name="phone"
                        class="form-control" id="phone" placeholder="Phone" required>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image Url</label>
                        <input type="text" ngModel name="imageUrl"
                        class="form-control" id="imageUrl" placeholder="imageUrl" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-employee-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    </form>   
                </div>
                
    </div>
    </div>

</div>

<div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModelLabel" aria-hidden="true" >
    
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" ngModel="{{editEmployee?.name}}" name="name"
                        class="form-control" id="name" placeholder="Name" required>
                    </div>
                    <input type="hidden" ngModel="{{editEmployee?.id}}" name="id"
                        class="form-control" id="id" placeholder="Id" required>
                    <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="employeeCode"
                        class="form-control" id="employeeCode" placeholder="employeeCode" required>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="text" ngModel="{{editEmployee?.email}}" name="email"
                        class="form-control" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle"
                        class="form-control" id="jobTitle" placeholder="Job Title" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" ngModel="{{editEmployee?.phone}}" name="phone"
                        class="form-control" id="phone" placeholder="Phone" required>
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image Url</label>
                        <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl"
                        class="form-control" id="imageUrl" placeholder="imageUrl" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="edit-employee-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button (click)="onUpdateEmployee(editForm.value)" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Save Changes</button>
                    </div>

                </form> 
            </div>
        </div>  
    </div>

</div>

<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployeeModelLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete employee ?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button (click)="onDeleteEmployee(deleteEmployee.id)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>    
</div>

<div *ngIf="employees?.length==0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO EMPLOYEES!</h4>
        <p>No employees were found.</p>
    </div>
</div>